@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  /* Prevent scrolling on the body, let the app handle it */
}